* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgb(33, 12, 24));
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: rgb(21, 5, 14);
    /* background-color: rgb(184, 144, 166); */
    padding: 0 5%;
    z-index: 1000;
}

.list {
    display: flex;
    gap: 30px;
}

.list a {
    color: white;
    text-decoration: none;
}

nav img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.menu-bar {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-bar img {
    width: 25px;
    height: 25px;
}

.hero {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    color: white;
    /* background-color:azure; */
}

.heading h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 30px;
}

span {
    color: red;
    font-style: italic;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 50px;
}

.btn button {
    /* display: flex; */
    height: 5vh;
    width: 12vw;
    border-radius: 10px;
    border: 1px solid black;
    gap: 30px;
}

.btn button a {
    text-decoration: none;
    color: black;
}

.btn button a:hover {
    color: white;
}

.btn img {
    width: 12px;
    height: 12px;
}

button:hover {
    background-color: red;
    color: white;
}

#float-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.emoji {
    position: absolute;
    bottom: -50px;
    font-size: 30px;
    animation: floatup 5s linear forwards;
    opacity: 0.9;
}

.events {
    padding: 10% 5%;
}

.event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event1 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    width: 27vw;
    background-color: rgb(21, 5, 14);
    gap: 30px;
    margin-bottom: 30px;
    color: white;
    border-radius: 20px;
    padding: 50px 5px;
    transition: transform 0.3s ease box-shadow 0.3s ease;
}

.event1:hover {
    transform: scale(1.05);
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.4); */
    box-shadow: 0 0 25px rgba(245, 167, 167, 0.3);
    filter: brightness(1.1);
}

.event a {
    text-decoration: none !important;
}

.event1 img {
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
}

.event1 h4 {
    margin-bottom: 10px;
}

.form-container {
    position: relative;
    left: 25vw;
    display: block;
    width: 50%;
    height: 130vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    background-color: rgb(21, 5, 14);
    color: white;
    border-radius: 20px;
    padding: 50px;
}

.form-container h1 {
    font-size: 45px;
    padding: 30px 0;
    color: red;
    /* margin-bottom: 30px; */
}

.forms {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.f1 {
    margin-bottom: 30px;
}

label {
    margin-right: 30px;
    margin-bottom: 20px;
}

.l1 {
    margin-right: 37vw;
}

.l2 {
    margin-right: 39vw;
}

.l3 {
    margin-right: 35vw;
}

.l4 {
    margin-right: 36vw;
}

.l5 {
    margin-right: 27.5vw;
}

textarea {
    height: 25vh;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(33, 12, 24);
    color: white;
}

#sender,
#recipient {
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgb(33, 12, 24);
    color: white;
}

#input:hover {
    border: 1px solid red;
    /* outline: red; */
}

#recipient:hover {
    border: 1px solid red;
}

.select:hover {
    border: 1px solid red;
}

.select {
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
    background-color: rgb(33, 12, 24);
    color: white;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.btn2 button {
    height: 5vh;
    width: 15vw;
    border: none;
    border-radius: 10px;
}

#preview {
    width: 100%;
    margin-top: 20vh;
    padding: 20px 10px;
    border: 1px solid black;
    /* background-color: white; */
    background-image: url("./assets/lovers.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
    border-radius: 10px;
    color: white;
}

#link {
    margin-top: 10px;
    color: brown;
    word-break: break-all;
}

.preview-header {
    background-color: aqua;
    height: 10vh;
    font-weight: bold;
    margin-bottom: 10px;
}

#share-buttons button {
    height: 5vh;
    width: 10vw;
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
}

footer {
    height: 80vh;
    padding: 5%;
    text-align: center;
    color: white;
}

footer h1 {
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.pp {
    font-size: x-small;
}

/* Valentine Page */
.val-containner {
    margin-top: 30vh;
    text-align: center;
    color: white;
}

.val-containner h1 {
    font-size: 45px;
    margin: 15px 0;
}

.val-containner span {
    height: 30px;
    background-color: white;
    border-radius: 20px;
}

.card-containner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-top: 20vh; */
    padding: 5%;
}

.card {
    position: relative;
    width: 100%/3;
    /* height: 50vh; */
    /* max-height: 40vh; */
    /* overflow: hidden; */
    background-color: white;
    color: black;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* transition: max-height 0.3s ease; */
    /* transition: transform 0.3s ease box-shadow 0.3s ease; */
}

.card-content {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    margin-top: 10px;
    transition: max-height 0.3s ease;
}

.card-content.expanded {
    max-height: none;
}

.fade {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    pointer-events: none;
}

.show-toggle {
    display: block;
    margin-top: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.copy-btn {
    position: absolute;
    float: right;
    background: black;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 15px;
    /* z-index: 1000; */
}

.copy-btn:hover {
    background: red;
}

.copy-btn:active {
    background-color: burlywood;
}

#toast {
    visibility: hidden;
    min-width: 100px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}

.card:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0 0 25px rgba(245, 167, 167, 0.3); */
    filter: brightness(1.1);
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.toast.show {
    opacity: 1;
}

.card h4 {
    margin-bottom: 8px;
}

.card span {
    font-style: normal;
    font-size: smaller;
}

.card .writeup {
    margin-top: 8px;
}

@keyframes floatup {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(-110vh) scale(1.2);
        opacity: 0;
    }
}

/* Mobile (≤600px) */
@media (max-width: 720px) {
    nav {
        display: flex;
        /* flex-direction: column; */
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .list {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    nav img {
        width: 50px;
        height: 50px;
    }

    .menu-bar {
        display: block;
        color: white;
    }

    .list {
        position: absolute;
        top: 10vh;
        height: 30vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        gap: 20px;
        display: none;
        padding: 20px;
    }

    .list a {
        color: black;
    }

    .list.show {
        display: flex;
    }

    .hero {
        margin-top: 20vh;
        padding: 0 10px;
    }

    .hero h1,
    .heading h1 {
        font-size: 28px;
    }

    .btn {
        flex-direction: column;
        gap: 15px;
    }

    .btn button {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    .event {
        grid-template-columns: 1fr;
        /* stack events vertically */
    }

    .event1 {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .form-container {
        left: 0;
        width: 95%;
        height: auto;
        margin: 5vh auto;
        padding: 20px;
    }

    .l1 {
        margin-left: 10px;
    }

    label {
        margin-left: 10px !important;
    }

    .form-container h1 {
        font-size: 28px;
    }

    textarea,
    #sender,
    #recipient,
    .select {
        width: 100%;
        height: auto;
        font-size: 16px;
    }

    .btn2 {
        flex-direction: column;
        gap: 15px;
    }

    .btn2 button {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    #preview {
        margin-top: 10vh;
        font-size: 16px;
    }

    footer h1 {
        font-size: 28px;
    }

    /* Page1 */

    .val-containner {
        margin-top: 15vh;
        /* reduce spacing for smaller screens */
        padding: 20px;
    }

    .val-containner h1 {
        font-size: 28px;
        /* smaller heading */
        margin: 10px 0;
    }

    .card-containner {
        grid-template-columns: 1fr;
        /* stack cards vertically */
        padding: 10%;
    }

    .card {
        position: relative;
        margin: 8px 0;
        /* tighter spacing */
        padding: 12px;
        font-size: 16px;
    }

    .card-content{
        position: relative;
        max-height: 100px;
    }

    .card h4 {
        font-size: 17px;
    }

    .card span {
        font-size: 14px;
    }

    .copy-btn {
        font-size: 10px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-right: 5px;
    }

    #toast {
        min-width: 80px;
        font-size: 12px;
        bottom: 20px;
        right: 20px;
        padding: 8px;
    }


}

/* Tablet (601px–900px) */
@media (min-width: 601px) and (max-width: 900px) {
    nav {
        padding: 0 3%;
    }

    .list {
        gap: 20px;
    }

    .hero h1,
    .heading h1 {
        font-size: 36px;
    }

    .event {
        grid-template-columns: 1fr 1fr;
        /* two columns on tablets */
    }

    .event1 {
        width: 90%;
        margin: auto;
    }

    .form-container {
        left: 0;
        width: 80%;
        margin: 5vh auto;
    }

    .form-container h1 {
        font-size: 36px;
    }



}