* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background: linear-gradient(rgb(33, 12, 24)); */
    /* background:linear-gradient(135deg,#FFF8F5,#FDF2F8); */
    background:linear-gradient(135deg,#FFF8F5,#fab4db);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #810d47;
    /* background-color: rgb(184, 144, 166); */
    padding: 0 5%;
    z-index: 1000;
}

.list {
    display: flex;
    gap: 30px;
}

.list a {
    color: white;
    text-decoration: none;
}

.list a:hover{
    border: 1px solid white;
    padding: 2px;
}

nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu-bar {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-bar img {
    width: 25px;
    height: 25px;
}

/* Animated Card / UI Preview Hero */
.hero-head{
  display:grid;
  grid-template-columns:1fr 1fr;
  min-height:90vh;
  padding:60px;
  align-items:center;
  justify-content: center;
  /* background:linear-gradient(135deg,#FFF8F5,#FDF2F8); */
  /* backdrop-filter: blur(10px); */
}

.hero-left h1{
  font-size:48px;
  line-height:1.1;
  margin-bottom:15px;
}

.hero-left p{
  max-width:480px;
  font-size:17px;
  color:#444;
}

.hero-actions{
  margin-top:25px;
  display:flex;
  gap:15px;
}

.primary-btn{
  background:#FF5A8A;
  color:#fff;
  border:none;
  padding:14px 22px;
  border-radius:10px;
  font-size:15px;
  cursor:pointer;
}

.secondary-btn{
  background:#fff;
  border:1px solid #FF5A8A;
  color:#FF5A8A;
  padding:14px 22px;
  border-radius:10px;
  font-size:15px;
  cursor:pointer;
}

.hero-right{
  position:relative;
  height:500px;
}

.hero-head a button{
    cursor: pointer;
}

.preview-container{
  position:relative;
  width:100%;
  height:100%;
}

.preview-card{
  position:absolute;
  top: 20;
  margin-top: 30px;
  margin-bottom: -80px;
  width:240px;
  background:#fff;
  padding:14px;
  border-radius:14px;
  box-shadow:0 15px 40px rgba(0,0,0,0.1);
  animation: float 6s ease-in-out infinite;
}

.preview-card:hover{
    transform: scale(1.05) rotate(1deg);
}

.preview-card h4{
  font-size:14px;
  margin-bottom:6px;
}

.preview-card p{
  font-size:13px;
  color:#555;
  margin-bottom:10px;
}

.preview-card button{
  border:none;
  background:#FF5A8A;
  color:#fff;
  padding:6px 10px;
  border-radius:6px;
  font-size:12px;
}

/* Positions */
.float1{ top:40px; left:40px; animation-delay:0s;}
.float2{ top:120px; right:20px; animation-delay:1s;}
.float3{ bottom:90px; left:80px; animation-delay:2s;}
.float4{ bottom:20px; right:80px; animation-delay:3s;}

@keyframes float{
  0%{ transform:translateY(0px); }
  50%{ transform:translateY(-12px); }
  100%{ transform:translateY(0px); }
}


/* .hero {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 30vh;
    color: white;
    /* background-color:azure; */
/* }

.heading h1 {
    font-size: 45px;
    margin-bottom: 30px;
} */

.hero h1 {
    font-size: 45px;
    margin-top: 25vh;
    text-align: center;
} 

.hero p span {
    color: #FF5A8A;
    font-style: italic;
    margin-left: 34vw;
    margin-top: 30px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 50px;
}

.btn button {
    /* display: flex; */
    height: 10vh;
    width: 15vw;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    gap: 30px;
}

.btn button a {
    text-decoration: none;
    color: black;
}

.btn button a:hover {
    color: white;
}

.btn img {
    width: 12px;
    height: 12px;
}

button:hover {
    background-color: red;
    color: white;
}

#float-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 9999;
}

.emoji {
    position: absolute;
    bottom: -50px;
    font-size: 30px;
    animation: floatup 5s linear forwards;
    opacity: 0.9;
}

.events {
    padding: 3% 5%;
}

.events h1{
    color: black;
    text-align: center;
    padding: 40px 0;
}

.event {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event1 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 35vh;
    width: 27vw;
    background-color: #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    gap: 30px;
    margin-bottom: 30px;
    color: black;
    border-top: 2px solid #FF5A8A;
    border-radius: 20px;
    padding: 50px 5px;
    transition: transform 0.3s ease box-shadow 0.3s ease;
}

.event1:hover {
    transform: scale(1.05);
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.4); */
    box-shadow: 0 0 25px rgba(230, 180, 180, 0.3);
    filter: brightness(1.1);
    /* background-color: #FF5A8A; */
}

.event a {
    text-decoration: none !important;
}

.event1 img {
    width: 60px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.event1 h4 {
    margin-bottom: 10px;
    color: #FF5A8A;
}

.form-container {
    position: relative;
    left: 25vw;
    display: block;
    width: 50%;
    height: 130vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    background-color: #FF5A8A;
    color: black;
    border-radius: 20px;
    padding: 50px;
}

.form-container h1 {
    font-size: 45px;
    /* padding: 30px 0; */
    color: red;
    /* margin-bottom: 30px; */
}

.forms {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.f1 {
    margin-bottom: 30px;
}

label {
    margin-right: 30px;
    margin-bottom: 20px;
}

.l1 {
    margin-right: 37vw;
}

.l2 {
    margin-right: 39vw;
}

.l3 {
    margin-right: 35vw;
}

.l4 {
    margin-right: 38vw;
}

.l5 {
    margin-right: 27.5vw;
}

textarea {
    height: 25vh;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(232,240,254);
    /* background-color: rgb(219, 217, 217); */
    color: black;
}

#sender,
#recipient {
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: rgb(232,240,254);
    /* background-color: rgb(219, 217, 217); */
    color: black;
}

#sender:hover {
    border: 1px solid red;
    /* outline: red; */
}


#recipient:hover {
    border: 1px solid red;
}

.select:hover {
    border: 1px solid red;
}

.select {
    width: 100%;
    height: 10vh;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
    background-color: rgb(232,240,254);
    /* background-color: rgb(219, 217, 217); */
    color: black;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.btn2 button {
    height: 5vh;
    width: 15vw;
    border: none;
    border-radius: 10px;
    background-color: rgb(7, 7, 140);
    color: #fff;
    font-weight: bold;
}

.btn2 button:nth-child(2){
    background-color: rgb(188, 18, 18);
}

#preview {
    width: 100%;
    margin-top: 20vh;
    padding: 20px 10px;
    border: 1px solid black;
    /* background-color: white; */
    background-image: url("./assets/lovers.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 50px;
    border-radius: 10px;
    color: white;
}

#link {
    margin-top: 10px;
    color: brown;
    word-break: break-all;
}

.preview-header {
    background-color: aqua;
    height: 10vh;
    font-weight: bold;
    margin-bottom: 10px;
}

#share-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    
}

#share-buttons button {
    height: 5vh;
    width: 15vw;
    background-color:rgb(188, 18, 18);
    color: white;
    border: none;
    border-radius: 10px;
    margin: 30px 20px;
    cursor: pointer;
    gap: 30px;
    font-weight: bold;
}

footer {
    height: 85vh;
    padding: 5%;
    text-align: center;
    color: black;
}

footer h1 {
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: #FF5A8A;
    margin-bottom: 20px;
    gap: 40px;
}

.socials a{
    color: #4a0518;
}

.pp {
    font-size: x-small;
    padding-bottom: 30px;
}

/* Valentine Page */
.val-containner {
    margin-top: 30vh;
    text-align: center;
    color: black;
}

.val-containner h1 {
    font-size: 45px;
    margin: 15px 0;
}

.val-containner span {
    height: 30px;
    color: white;
    background-color: #FF5A8A;
    border-radius: 20px;
}

#searchbar{
    width: 100%;
    height: 10vh;
    outline: none;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    margin-top: 50px;
}

.filter-bar{
    display: flex;
    gap: 10px;
    max-width: 800px;
    margin: 20px auto;
    width: 95%;
    flex-wrap: wrap;
}


.filter-bar select{
    flex: 1;
    min-width: 160px;
    padding: 12px 14px;
    font-size: 14px;
    border-radius: 10px;
    outline: none;
}


.filter-bar select:focus{
    border-color: red;
}

.card-containner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* margin-top: 20vh; */
    padding: 5%;
}

.card {
    position: relative;
    /* width: 100%/3; */
    /* height: 50vh; */
    /* max-height: 40vh; */
    /* overflow: hidden; */
    background-color: white;
    color: black;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top: 2px solid #FF5A8A;
    /* transition: max-height 0.3s ease; */
    /* transition: transform 0.3s ease box-shadow 0.3s ease; */
}

.card-content {
    position: relative;
    max-height: 200px;
    overflow: hidden;
    margin-top: 10px;
    transition: max-height 0.3s ease;
}

.card-content.expanded {
    max-height: none;
}

.fade {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
    pointer-events: none;
}

.show-toggle {
    display: block;
    margin-top: 10px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

.copy-btn {
    position: absolute;
    float: right;
    background: #FF5A8A;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 15px;
    /* z-index: 1000; */
}

.copy-btn:hover {
    background: red;
}

.copy-btn:active {
    background-color: burlywood;
}

#toast {
    visibility: hidden;
    min-width: 100px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

#toast.show {
    visibility: visible;
    opacity: 1;
}

.card:hover {
    /* transform: scale(1.05); */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    /* box-shadow: 0 0 25px rgba(245, 167, 167, 0.3); */
    filter: brightness(1.1);
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.toast.show {
    opacity: 1;
}

.card h4 {
    margin-bottom: 8px;
}

.card span {
    font-style: normal;
    font-size: smaller;
}

.card .writeup {
    margin-top: 8px;
}

@keyframes floatup {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateY(-110vh) scale(1.2);
        opacity: 0;
    }
}

/* Mobile (≤600px) */
@media (max-width: 720px) {
    nav {
        display: flex;
        /* flex-direction: column; */
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .list {
        flex-direction: column;
        gap: 15px;
        margin-top: 10px;
    }

    nav img {
        width: 60px;
        height: 50px;
    }

    .menu-bar {
        display: block;
        color: white;
    }

    .list {
        position: absolute;
        top: 10vh;
        height: 30vh;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: #fff;
        gap: 20px;
        display: none;
        padding: 20px;
    }

    .list a {
        color: black;
    }

    .list a:hover{
        border: none;
        color: red;
    }

    .list.show {
        display: flex;
    }


  .hero-head{
    grid-template-columns:1fr;
    justify-content: center;
    text-align:center;
    /* margin-top: 45px; */
    /* width: 100%; */
    height: 80vh;
    padding: 0 10px;
  }

  .hero-head h1{
    font-size: 30px;
    margin-top: 20px;
  }

  .hero-head button{
    width: 40vw;
    height: 10vh;
    font-size: small;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .preview-container{
    display: none;
    /* height: 75vh; */
    /* margin-top: -5vh; */
    /* padding: 0 10px; */
  }

  .preview-card{
    width: 100%;
    /* gap: 10px; */
    /* padding: 20px; */
  }

  .preview-container button{
    display: none;
  }

  .float1{ top:40px; left:0px; animation-delay:0s;}
  .float2{ top:120px; right:0px; animation-delay:1s;}
  .float3{ bottom:90px; left: 0px; animation-delay:2s;}
  .float4{ bottom:20px; right:0px; animation-delay:3s;}

  /* .float3{
    position: relative;
    /* top: 5; */
    /* margin-top: 0vh; */
  /* } */ */

  .hero-right{
    display:none; /* hide preview on small screens */
   }
 

    .hero {
        margin-top: 20vh;
        padding: 0 10px;
    }

    .hero h1{
        font-size: 28px;
    }

    .hero p span{
        margin-right: 40vw;
        font-size: xx-small;
    }

    .btn {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .btn a button {
        /* min-width: max-content; */
        width: 88vw;
        height: auto;
        padding: 12px;
    }

    .events{
        margin-top: -20vh;
    }

    .events h1{
        font-size: 20px;
    }

    .event {
        grid-template-columns: 1fr;
        /* stack events vertically */
    }

    .event1 {
        width: 100%;
        height: auto;
        padding: 20px;
        border-top: 2px solid #FF5A8A;
    }

    .form-container {
        left: 0;
        width: 95%;
        height: auto;
        margin: 5vh auto;
        padding: 20px;
    }

    label {
        position: relative;
    }

    .l1{
        left: -17vw
    }

    .l2{
        left: -19vw
    }

    .l3{
        left: -15vw
    }

    .l4{
        left: -16.5vw
    }

    .l5{
        left: -10vw
    }

    .form-container h1 {
        font-size: 28px;
    }

    #sender,
    #recipient,
    .select {
        width: 100%;
        height: 10vh;
        font-size: 16px;
    }

    textarea{
        width: 100%;
        height: 20vh;
        font-size: 16px;
    }

    .btn2 {
        flex-direction: column;
        gap: 15px;
    }

    .btn2 button {
        width: 100%;
        height: auto;
        padding: 12px;
    }

    #share-buttons{
        margin-right: 35px;
    }

    #share-buttons button{
        width: 100%;
    }

    #preview {
        margin-top: 10vh;
        font-size: 16px;
    }

    footer{
        height: auto;
    }

    footer h1 {
        font-size: 28px;
    }

    /* Page1 */

    .val-containner {
        margin-top: 15vh;
        /* reduce spacing for smaller screens */
        padding: 20px;
    }

    .val-containner h1 {
        font-size: 28px;
        /* smaller heading */
        margin: 10px 0;
    }

    .card-containner {
        grid-template-columns: 1fr;
        /* stack cards vertically */
        padding: 10% 20px;
    }

    .card {
        position: relative;
        /* top: 100px; */
        margin: 8px 0;
        /* tighter spacing */
        padding: 12px;
        font-size: 16px;
    }

    /* .card:nth-child(1){z-index: 1;}
    .card:nth-child(2){z-index: 2;}
    .card:nth-child(3){z-index: 3;}
    .card:nth-child(4){z-index: 4;}
    .card:nth-child(5){z-index: 5;}
    .card:nth-child(6){z-index: 6;}
    .card:nth-child(7){z-index: 7;}
    .card:nth-child(8){z-index: 8;}
    .card:nth-child(9){z-index: 9;}
    .card:nth-child(10){z-index: 10;}
    .card:nth-child(11){z-index: 11;} */

    .card-content{
        position: relative;
        max-height: 100px;
    }

    .card h4 {
        font-size: 17px;
    }

    .card span {
        font-size: 14px;
    }

    .copy-btn {
        font-size: 10px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-right: 5px;
    }

    #toast {
        min-width: 80px;
        font-size: 12px;
        bottom: 20px;
        right: 20px;
        padding: 8px;
    }

    footer h1{
        font-size: 20px;
    }


}

/* Tablet (601px–900px) */
@media (min-width: 601px) and (max-width: 900px) {
    nav {
        padding: 0 3%;
    }

    .list {
        gap: 20px;
    }

    .hero h1,
    .heading h1 {
        font-size: 36px;
    }

    .event {
        grid-template-columns: 1fr 1fr;
        /* two columns on tablets */
    }

    .event1 {
        width: 90%;
        margin: auto;
    }

    .form-container {
        left: 0;
        width: 80%;
        margin: 5vh auto;
    }

    .form-container h1 {
        font-size: 36px;
    }



}